#brazil-icon.active{
    background: url('../img/flags.png') 0 0;
}

#us-icon.active{
    background: url('../img/flags.png') -35px 0;
}

#brazil-icon.inactive{
    background: url('../img/flags.png') 0 -35px;
}

#us-icon.inactive{
    background: url('../img/flags.png') -35px -35px;
}

#brazil-icon.inactive:hover{
    background-position: 0 0;
}
#us-icon.inactive:hover{
    background-position: -35px 0;
}