@import 'header.css';
@import 'header-language.css';
@import 'footer.css';
@import 'content.css';
@import 'overview.css';
@import 'projects.css';
@import 'resume.css';
@import 'modal.css';

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

body:after{
    display:none;
    content: url('../img/projects/vermais.jpg');
}

#backtotop{
    position: fixed;
    bottom: 35px;
    right: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

#backtotop img{
    height: 10px;
    margin-right: 5px;
}