body{
    margin: 0;
    background-color: #2b3137;
    font-family: sans-serif;
}

#language{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon{
    height: 35px;
    width: 35px;
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

#brazil-icon.active{    
    background: url('../img/flags.webp') 0 0;
}

#brazil-icon.inactive{
    background: url('../img/flags.webp') 0 -35px;
}

#brazil-icon.inactive:hover{
    background-position: 0 0;
}

#us-icon.active{    
    background: url('../img/flags.webp') -35px 0;
}

#us-icon.inactive{
    background: url('../img/flags.webp') -35px -35px;
}

#us-icon.inactive:hover{
    background-position: -35px 0;
}