@import 'header.css';
@import 'header-language.css';
@import 'footer.css';

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

#backtotop{
    position: fixed;
    bottom: 35px;
    right: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

#backtotop img{
    height: 10px;
    margin-right: 5px;
}

/*CONTENT*/
#content {
    flex: 1 0 auto;
    z-index: 0;
    height: 100vh;
}

.fullscreen{
    height: 100vh;    
}

#resumo{background-color: rgb(43,49,55); display: flex; justify-content: center; align-items: center; flex-direction: column; color: white;}
#resumo-conteudo h1{font-size: 70px; margin-bottom: 0;}
#resumo-conteudo h2{margin-bottom: 50px;}
#buttons{display: flex;justify-content: center;}
#buttons a{font-size: 30px;margin: 15px;border: solid 4px white; width: 20vw;box-shadow: 10px 10px #24292E;margin: 20px 10px 20px 10px;display: block;text-decoration: none;color: white;padding: 20px}
#buttons a:hover{color: grey;border-color: grey;}


#projetos{background-color: #243647;}
#curriculo{background-color: white;}