#portfolio{
    background-color: rgb(48,48,48);          
}

#projects{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    min-height: 50vh;
}

#portfolio h1{
    flex: 0 0 99%;
    font-size: 70px; 
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.project{
    min-height: 150px;
    min-width: 200px;  
}

.project div{
    margin: 10px 10px 30px 10px;    
    border: solid 4px;
    padding-top: 56.25%;
    transition: 0.3s  
}

#ctgis div{
    background: url('../img/projects/ctgis.png') no-repeat;    
    background-position: center;   
    border-color: #e8b33c;
}

#ctgis div:hover{
    background: url('../img/projects/vermais.png') no-repeat; 
    background-position: center;   
    background-color: #e8b33c;
}

#planbelle div{
    background: url('../img/projects/planbelle.png') no-repeat;    
    background-position: center;   
    border-color: #cc3399;
}

#planbelle div:hover{
    background: url('../img/projects/vermais.png') no-repeat;    
    background-position: center;   
    background-color: #cc3399;
}

#felipeprodrigues div{
    background: url('../img/projects/felipeprodrigues.png') no-repeat;    
    background-position: center;
    border-color: #FFFFFF;      
}

#felipeprodrigues div:hover{
    background: url('../img/projects/vermais.png') no-repeat;    
    background-position: center;
    background-color: #242424;   
    border-color: #242424;      
}

#ferreirapet div{
    background: url('../img/projects/ferreirapet.png') no-repeat;    
    background-position: center;   
    border-color: #d3d2ca;
}

#ferreirapet div:hover{
    background: url('../img/projects/vermais.png') no-repeat;    
    background-position: center;   
    background-color: #242424;
    border-color: #242424;
}

@media (min-width: 1101px) 
{
    .project{
        flex: 0 0 25%;
    }
}


@media (max-width: 1100px) 
{
    .project{
        flex: 0 0 33%;
    }
}

@media (max-width: 899px) 
{
    .project{
        flex: 0 0 50%;
    }
}

@media (max-width: 600px) 
{
    .project{
        flex: 0 0 99%;
    }

    #portfolio h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
}