#resume {
    background-color: #EEE;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resume h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
    padding: 20px 0 40px 0;
}

#resume div {
    text-align: justify;
}

#resume div p {
    font-size: 20px;
}

#downloadResume {
    font-size: 30px;
    margin: 15px;
    border: solid 4px rgb(36, 36, 36);
    width: 30vw;
    /*box-shadow: 10px 10px rgb(28, 28, 28);*/
    margin: 20px 10px 50px 10px;
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

#downloadResume:hover {
    color: grey;
    border-color: grey;
}

@media (max-width: 1000px) {
    #downloadResume {
        width: 50vw;
        font-size: 25px;
    }

@media (max-width: 600px) {
    #resume h1 {
        font-size: 40px;
    }

    #downloadResume {
        width: 75vw;
        font-size: 20px;
    }

    #resume div {
        padding-right: 10px;
        padding-left: 10px;
    }
}