#social{
    display: flex;
    z-index: 1;    
    margin: 15px 0 15px 0;
}

#social div{
    width: 25%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#social div p{
    margin-left: 10px;
}

#social div div{
    height: 32px;
    width: 32px;
    margin: 10px 5px;
}

#linkedin div{
    background: url('../img/logos.png') 0 0;
}
#github div{
    background: url('../img/logos.png') -32px 0;
}
#twitter div{
    background: url('../img/logos.png') -64px -0;
}
#stackoverflow div{
    background: url('../img/logos.png') -96px 0;
}
#instagram div{
    background: url('../img/logos.png') -128px 0;
}

#linkedin div:hover{
    background: url('../img/logos.png') 0 -32px;
}
#github div:hover{
    background: url('../img/logos.png') -32px -32px;
}
#twitter div:hover{
    background: url('../img/logos.png') -64px -32px;
}
#stackoverflow div:hover{
    background: url('../img/logos.png') -96px -32px;
}
#instagram div:hover{
    background: url('../img/logos.png') -128px -32px;
}


@media (max-width: 900px){ 
    #social div p{
        display: none;
    }
}